body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(322deg,#94e0e2,#b9ed00,#9a77ec,#e210fb,#ddc1ff);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}



@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}


.glass-container {
  background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
  text-align: center;
}

.form {
  display: inline-block;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 50px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  border-radius: 50px;
}

.social-buttons {
  margin-top: 20px;
}

.google-btn, .facebook-btn {
  width: 45%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn {
  background-color: #4285F4;
  color: white;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 auto 20px;
}
